<footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
  <div class="overlay"></div>
  <div class="container">
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; Zappy 2019 | All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</footer>