.fh5co-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .fh5co-bg {
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    float: left;
  }
  .fh5co-bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(202, 165, 165, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .fh5co-bg-section {
    background: rgba(0, 0, 0, 0.05);
  }
  
  #fh5co-footer {
    padding: 20px;
    clear: both;
  }
  
  #fh5co-footer {
    position: absolute;
  }
  #fh5co-footer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  #fh5co-footer .copyright .block {
    display: block;
  }
