<app-header></app-header>
<div class="tweets">
    <div *ngFor="let tweetData of listOfTweets">
        <br>
        <app-tweet [model]="tweetData"></app-tweet>
      </div>
</div> 
<app-footer></app-footer>
<app-alerts></app-alerts>