<div class="tweetEntry-tweetHolder">

  <!-- Entry with Media turned on. -->
  <div class="tweetEntry">

    <div class="tweetEntry-content">

      <a class="tweetEntry-account-group" href="[accountURL]">

        <img class="tweetEntry-avatar" src={{model.profileImg}}>

        <strong class="tweetEntry-fullname">
          {{model.fullName}}
        </strong>

        <span class="tweetEntry-username">
          @<b>{{model.username}}</b>
        </span>

        <span class="tweetEntry-timestamp"> {{model.created_at}}</span>

      </a>

      <div class="tweetEntry-text-container">

        {{model.text}}
       
      </div>

    </div>

    <div class="optionalMedia">
      <div *ngFor="let modelUrl of model.media">
              <img class="optionalMedia-img" src={{modelUrl.media_url}}>
      </div>      
    </div>

    <div class="tweetEntry-action-list" style="line-height:24px;color: #b1bbc3;">
      <i class="fa fa-reply" style="width: 80px;">{{model.repy_count}}</i>
      <i class="fa fa-retweet" style="width: 80px">{{model.retweet_count}}</i>
      <i class="fa fa-heart" style="width: 80px">{{model.favorite_count}}</i>
    </div>

  </div>

</div>